/* You can add global styles to this file, and also import other style files */
html {
  font-family: "Segoe UI", "Open Sans", "Verdana", "Arial", "Helvetica", "sans-serif";
  font-size: 12px;
  line-height: 1.32em;
}

body {
  margin: 0;
}

ul.reset li,
ul.reset ul li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

ul {
  &.list-demo-components {
    li {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
}

body.mylib-theme--scheme--light main {
  background: white;
}
body.mylib-theme--scheme--dark  main {
  background: #003750;
}
